.onboarding_container{
    width: 100%;
    max-width: 425px;
    height: 100vh;
    margin: 0 auto;
    padding: 100px 24px;
    background-color: #1E1E1E;
    position: relative;
}

.onboarding_container .esan{
    font-size: 40px;
    line-height: 51.04px;
    text-align: center;
    font-weight: 400;
    color: #FEFEFE;
}


.onboarding_container .esan span{
    font-weight: 700;

}
.onboarding_container .esan .green{
    color: #CFFF11;
}

.onboarding_container .onboarding-image{
    width: 100%;
    max-width: 420px;
    max-height: 420px;
    position: absolute;
    bottom: 0%;
    left: 0;
    padding: 0 8px;
}

.onboarding_container .started{
text-align: center;
}
.onboarding_container .center{
        width: fit-content;
        position: absolute;
        bottom: 3%;
        left: 27%;
        padding: 16px;
        color: #FEFEFE;
        border-radius: 20px;
        background-color: #252424;
        cursor: pointer;
}